# Terraform
.terraform/
.terraform.lock.hcl

# Terraform State
*.tfstate
*.tfstate.backup

# Variable Files
*.tfvars

# Crash Logs
crash.log

# VS Code
.vscode/

# Local Outputs
outputs-working-single-bitrate.txt

# to stop exposing the JWT Secret key
# Generated runtime configuration
generated/

# Local Terraform outputs
outputs-working-single-bitrate.txt